<!DOCTYPE html>
<html>
    <head>
        <title>Products</title>
        <script>
            function cancelAction() {
                window.history.back();
            };
        </script>
    </head>
    <body>
        <header>
            <center><h1>Mom n' Pop Music</h1></center>
            <center><b>{{title}}</b></center>
        </header>

            {{{body}}}
    </body>
</html>