<header>
    <nav>
        <a href="/customer/products"><button>Back to Products</button></a>
    </nav>
</header>
<form method="post" action="/customer/search_by_name">
    <label for="search_by_name">Search by Name:</label><br>
    <input type="text" name="search_by_name" id="search_by_name">
    <input type="submit" name="submit" value="Search">
</form>
<form method="post" action="/customer/search_by_description">
    <label for="search_by_description">Search by Description:</label><br>
    <input type="text" name="search_by_description" id="search_by_description">
    <input type="submit" name="submit" value="Search">
</form>